---
layout: default
title: Quidditas
description: My Mathematical Blog
---
<h2>Navigation</h2>
<ul>
  <li><a href="#Sorted-Chronologically">Posts sorted chronologically</a></li>
  <li><a href="#Sorted-by-Topic">Posts sorted by topic</a></li>
</ul>

<h2>About My Blog: Quidditas</h2>
<p>Quidditas is the name I’ve given to my personal blog. My main goal is to post about interesting topics, create educational material, and talk about my current research. Additionally, you can also find tutorials and references that I’ve written about making this website. </p>

<p>The word “quidditas” itself is Latin, with a rather odd definition: <a href="http://www.archives.nd.edu/cgi-bin/wordz.pl?keyword=quidditas">quidditas</a> is the answer to the question, “What is the thing?”</p>

<h2 id="Sorted-Chronologically">Sorted Chronologically</h2>
<details>
<summary>Click to View.</summary>
<div style="overflow:auto; max-height: 75vh">
<ul class="posts">
{% for post in site.posts %} {% if post.path contains 'quidditas' %}
  <li><span>{{ post.date | date_to_string }}</span> » <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
{% endif %}{% endfor %}
</ul>
</div>
</details>
	
<h2 id="Sorted-by-Topic">All Pages, Sorted by Tag</h2>
<details>
<summary>Click to View Tags.</summary>
<div style="overflow:auto; max-height: 75vh">
	<!-- Create a list "tagList" of all tags restricted to posts in this category -->
	<!--    (Iterates over all posts in the category, and removes duplicate tags) -->
	{%- capture list -%}
		{%- for post in site.categories['quidditas'] -%}
			{%- for tag in post.tags -%}
				^{{ tag }}
			{%- endfor -%}
		{%- endfor -%}
	{%- endcapture -%}
	{% assign tagList = list | remove_first: "^" | split: "^" | uniq | sort %}

	<!-- For each tag with posts in the category, list the corresponding posts in the category -->
	{% for tagName in tagList %}
	<li><span class="tag">{{ tagName }}</span>
		<ul>
		{% for post in site.categories['quidditas'] %}
			{% if post.tags contains tagName %}
				<li><span>{{ post.date | date_to_string }}</span> » <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
			{% endif %}
		{% endfor %}
		</ul>
	</li>
	{% endfor %}
</div>
</details>