<script src="/scripts/quotes.js"></script>

<span class="site-footer-credits">
  <div id="quoteDisplay" onload="nextQuote()">
    Click a button below to view a random quote!
  </div>
  <br>
  <div>
    <center>
      <button class="button" onclick="nextQuote()">Next Quote</button>
      <button class="button" onclick="randomizeOrder()">Randomize Order</button>
      <button class="button" onclick="newQuote()">Random Quote</button>
    </center>
  </div>
</span>

<script>
  nextQuote();
</script>