<!-- Begin Nav Bar -->
<nav>
  <ul>
    <li><a class="topnav-left" href="/">Home</a></li>
    <li><a class="topnav-left" href="/about">About</a></li>
    <li><a class="topnav-left" href="/cv">CV</a></li>
    <li><a class="topnav-left" href="/talks">Talks</a></li>
    <li><a class="topnav-left" href="/resources">Resources</a></li>
    <li><a class="topnav-left" href="/quidditas">Quidditas</a></li>
    <li><a class="topnav-left" href="/teaching">Teaching</a></li>
    <li><a class="topnav-right"><button class="button" onclick="toggleTheme()">Toggle Theme</button></a></li>
    <li><a class="topnav-right"><button class="button" onclick="toggleBackground()">Toggle Animation</button></a></li>
  </ul>
</nav>
<!-- Must include the scripts "theme.js" and "background.js" at end of page. -->
<!-- End Nav Bar -->
