<!-- Begin Nav Bar -->
<nav class="topnav">
  <!-- For large screens -->
  <div id="pages-list">
    <ul>
      <li><a class="left" href="/">Home</a></li>
      <li><a class="left" href="/content/about">About</a></li>
      <li><a class="left" href="/content/cv">CV</a></li>
      <li><a class="left" href="/content/quidditas">Quidditas</a></li>
      <!-- <li><a class="left" href="/content/talks">Talks</a></li> -->
      <li><a class="left" href="/content/resources">Resources</a></li>
      <!-- <li><a class="left" href="/content/teaching">Teaching</a></li> -->
      <li><a class="left" href="/content/gallery">Gallery</a></li>
    </ul>
  </div>
  <!-- For small and medium screens -->
  <div id="pages-dropdown" class="dropdown">
    <div id="navMenu">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </div>
    <div id="pages-list-dropdown" class="dropdown-content">
      <ul>
        <li><a class="left" href="/">Home</a></li>
        <li><a class="left" href="/content/about">About</a></li>
        <li><a class="left" href="/content/cv">CV</a></li>
        <li><a class="left" href="/content/quidditas">Quidditas</a></li>
        <!-- <li><a class="left" href="/content/talks">Talks</a></li> -->
        <li><a class="left" href="/content/resources">Resources</a></li>
        <!-- <li><a class="left" href="/content/teaching">Teaching</a></li> -->
        <li><a class="left" href="/content/gallery">Gallery</a></li>
      </ul>
    </div>
  </div>
  <ul>
    <!-- Requires the scripts "theme.js" and "background.js". -->
    <li class="top-right">
      <button class="button" onclick="toggleBackground()">Toggle Animation</button>
    </li>
    <li class="top-right">
        <div id="theme-selector-container"></div>
        <label for="themeSelector"></label>
        <select id="themeSelector" class="selector">
          <option disabled="">Pick Theme</option>
          <option value="Light Mode">Light Mode</option>
          <option value="Dark Mode">Dark Mode</option>
          <option value="Ocean">Ocean</option>
          <option value="Periwinkle">Periwinkle</option>
          <option value="Riverside">Riverside</option>
          <option value="Ohio State">Ohio State</option>
          <option value="Monochrome">Monochrome</option>
        </select>
    </li>
  </ul>
</nav>
<!-- End Nav Bar -->
