<!-- Begin Nav Bar -->
<nav class="topnav">
  <!-- For large screens -->
  <div id="pages-list">
    <ul>
      <li><a class="left top" href="/">Home</a></li>
      <li><a class="left top" href="/about">About</a></li>
      <li><a class="left top" href="/cv">CV</a></li>
      <li><a class="left top" href="/talks">Talks</a></li>
      <li><a class="left top" href="/resources">Resources</a></li>
      <li><a class="left top" href="/quidditas">Quidditas</a></li>
      <li><a class="left top" href="/teaching">Teaching</a></li>
    </ul>
  </div>
  <!-- For small and medium screens -->
  <div id="pages-dropdown" class="dropdown">
    <div id="navMenu">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </div>
    <div id="pages-list-dropdown" class="dropdown-content">
      <ul>
        <li><a class="left top" href="/">Home</a></li>
        <li><a class="left top" href="/about">About</a></li>
        <li><a class="left top" href="/cv">CV</a></li>
        <li><a class="left top" href="/talks">Talks</a></li>
        <li><a class="left top" href="/resources">Resources</a></li>
        <li><a class="left top" href="/quidditas">Quidditas</a></li>
        <li><a class="left top" href="/teaching">Teaching</a></li>
      </ul>
    </div>
  </div>
  <ul>
    <!-- Requires the scripts "theme.js" and "background.js". -->
    <li class="top-right">
      <button class="button" onclick="toggleBackground()">Toggle Animation</button>
    </li>
    <li class="top-right">
        <div id="theme-selector-container"></div>
        <label for="themeSelector"></label>
        <select id="themeSelector" class="selector">
          <option disabled="">Pick Theme</option>
          <option value="0">Light Mode</option>
          <option value="1">Dark Mode</option>
          <!-- <option value="2">Riverside</option> -->
          <option value="3">Ocean</option>
          <!-- <option value="4">Monochrome</option> -->
          <!-- <option value="5">Ohio State</option> -->
          <option value="6">Periwinkle</option>
        </select>
    </li>
  </ul>
</nav>
<!-- End Nav Bar -->
