a {
    color: $body-link-color-2;
    //color: $body-link-color;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.centered {
    margin-left: auto;
    margin-right: auto;
}

.button,
.selector {
    display: inline-block;
    margin-bottom: 0;
    color: $section-headings-color;
    background-color: $bg-color;
    border-color: $section-headings-color;
    border-style: solid;
    border-width: 1px;
    border-radius: 0.3rem;
    transition:
        color 0.2s,
        background-color 0.2s,
        border-color 0.2s;
    min-height: 1.8em;
    text-align: center;

    @include large {
        //padding: 0.75rem 1rem;
    }
    
    @include medium {
        //padding: 0.6rem 0.9rem;
        font-size: 0.9rem;
    }
    
    @include small {
        display: block;
        width: 100%;
        //padding: 0.75rem;
        font-size: 0.9rem;
    
        + .button {
            margin-top: 1rem;
            margin-left: 0;
        }
    }
}

.button {
    &:hover {
        color: $section-headings-color;
        text-decoration: none;
        background-color: rgba(100, 100, 100, 0.3);
        border-color: rgba(100, 100, 100, 0.3);
    }

    // Adds a margin to a second button immediately following another
    + .button {
        margin-left: 1rem;
    }
}

.selector {
    // padding: 0.2em;
    // padding-left: 0.5em;
    // padding-bottom: 0.2em;
    // padding-top: 0.3em;

    &:hover {
        color: $section-headings-color;
        text-decoration: none;
        //background-color: rgba(100, 100, 100, 0.7);
        border-color: rgba(100, 100, 100, 0.3);

        // color: $bg-color;
        // text-decoration: none;
        // background-color: $section-headings-color;
        // border-color: rgba(100, 100, 100, 0.3);
    }
}

img.rounded {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    height: 500px;
    width: 500px;
    border-radius: 50%;
    object-fit: cover;
    opacity: 1;
}

img.portrait {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 25%;
    border-radius: 50%;
    border: 5px solid #fff;
}

img.centered {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 25%;
}

details > summary {
    padding: 0.5em;
    margin-bottom: 0.5em;
    width: auto; //
    border-color: $section-headings-color;
    border-style: solid;
    border-width: 1px;
    border-radius: 0.3rem;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

// details > p {
//   padding: 4px;
//   margin: 0;
//   box-shadow: 1px 1px 2px #bbbbbb;
// }