.page-header{
    $colorRB: #0300AB; // Does not work inside rgba()
    $colorLB: #4DC8FF; //  to use var()'s
    
    background-image: 
      linear-gradient(
        120deg, 
        rgba($colorRB,0.5), 
        rgba($colorLB,0.5)
      ),
      url("../images/juliaFullCircle_1440_fps60.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  
  }
  
  .page-header-static{
    $colorRB: #0300AB; // Does not work inside rgba()
    $colorLB: #4DC8FF; //  to use var()'s
  
    color: $header-heading-color;
    text-align: center;
    background-color: $header-bg-color;
  
    @include large {
      padding: 5rem 6rem;
    }
  
    @include medium {
      padding: 3rem 4rem;
    }
  
    @include small {
      padding: 2rem 1rem;
    }
    
    background-image: 
      linear-gradient(
        120deg, 
        rgba($colorRB,0.5), 
        rgba($colorLB,0.5)
      ),
      url("../images/juliaFullCircle_frame0630.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  
  }