nav ul, footer ul {
  font-weight: bold;
  padding: 0;
  margin: 0;
  list-style-type: none;
  overflow: auto;
}

@include large { 
  // If the screen is large, the nav-bar becomes fixed at the top.
  nav ul {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: $bg-color;
    border: 1px solid $bg-color;
    z-index: 9999;

    //Border bottom shadow
    border-bottom: 3px outset rgba(0,0,0,0.1);
    //border-radius: 5px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
    -webkit-box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
    -moz-box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
  }

  #mainHeader{
    margin-top: 50px;
  }
}

nav ul li a {
  display: block;
  text-align: center;
  padding: 0px 0px;
  margin: 10px 10px;
}

.topnav-left{
  color: var(--primary-color);
  float: left;
}

.topnav-right{
  float: right;
}