---
layout: default
title:  "Pedagogical Posts"
author: "Will Hoffer"
description: Online Class Resources
---

<h2>Overview</h2>
  <p>Here, you can find teaching materials I've made for courses, online interactive tools, and some explanatory posts on important topics.</p>

<h2 id="Sorted-Chronologically">Sorted Chronologically</h2>
	<ul class="posts">

	  {% for post in site.posts %}
	    {% if post.path contains 'teaching' %}
	      <li><span>{{ post.date | date_to_string }}</span> » <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
	    {% endif %}
	  {% endfor %}
	</ul>