---
---

/* Color References

lightBlue:    #4DC8FF
royalBlue:    #0300AB
white:        #FFFFFF
black:        #000000

*/

/* Default Variables*/
/*

// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #fff !default;           // White
$header-bg-color: #159957 !default;             // Green
$header-bg-color-secondary: #155799 !default;   // Blue

// Text
$section-headings-color: #159957 !default;      // Green
$body-text-color: #606c71 !default;
$body-link-color: #1e6bb8 !default;
$blockquote-text-color: #819198 !default;

// Code
$code-bg-color: #f3f6fa !default;
$code-text-color: #567482 !default;

// Borders
$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;

*/


/* Custom Variables */ 

html {
  --lightBlue: #4DC8FF;
  --royalBlue: #0300AB;
  --white: #FFFFFF;
  --black: #000000;
  --lighterGray: #E0E0E0;
  --lightGray: #B5B5B5;
  --darkGray: #171717;
  --linkBlue: #0099E0;
  
  --bg-color: var(--lighterGray);
  --section-headings-color: var(--royalBlue);
  --body-text-color: var(--darkGray);
  --body-link-color: var(--linkBlue);
  
  --primary-color: var(--royalBlue);
  --secondary-color: var(--lightBlue);
}

//SCSS needs $vars not HTML vars ??
$primary-color: var(--primary-color);
$secondary-color: var(--secondary-color);

// Remark: must change $vars before the import
$bg-color: var(--bg-color); // bg-color not part of Cayman Theme

//$header-heading-color: #fff
// Remark: The primary/secondary flip is deliberate.
//    (The gradient goes from right to left.)
$header-bg-color: var(--secondary-color);
$header-bg-color-secondary: var(--primary-color);

$section-headings-color: var(--primary-color);
$body-text-color: var(--body-text-color);
$body-link-color: var(--body-link-color);
$blockquote-text-color: var(--body-text-color);

$code-bg-color: var(--bg-color);
$code-text-color: var(--primary-color); //var(--lightBlue);

$border-color: #FFF;//var(--section-headings-color);
$table-border-color: #519DE8;
$hr-border-color: var(--primary-color); //#4E45FF;

@import "{{ site.theme }}";

//@import "../fonts/cmuserif_boldoblique_macroman/stylesheet.css";
@import "../fonts/cmuserif_bold_macroman/stylesheet.css";
@import "../fonts/cmuserif_oblique_macroman/stylesheet.css";
@import "../fonts/cmuserif_roman_macroman/stylesheet.css";

nav ul, footer ul {
  font-weight: bold;
  padding: 0px;
  list-style: none;
}
nav ul li, footer ul li {
  display: inline;
  margin-right: 10px;
  margin-left: 10px;
}
.topnav-left{
  color: var(--primary-color);
}

.topnav-right{
  float: right;
  margin-right: 10px;
  margin-left: 10px;
}

body{
  background-color: $bg-color; 
  font-family:  computerModern, "Open Sans", "Helvetica Neue", "Times New Roman", Helvetica, Arial, sans-serif;
    
}

.main-content{
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
    color: $section-headings-color;
  }
}

.project-name {
  //font-family: computerModern;
  font-style: normal;
  font-weight: bold;
}
    
.project-tagline {
  font-style: normal;
  font-weight: normal;
}

.button{
  display: inline-block;
  margin-bottom: 1rem;
  color: $section-headings-color;
  background-color: $bg-color;
  border-color: $section-headings-color;
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;

  &:hover {
    color: $section-headings-color;
    text-decoration: none;
    background-color: rgba(100,100,100,0.3);
    border-color: rgba(100, 100, 100, 0.3);
  }
}

img.rounded {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
  height: 500px;
  width: 500px;
  border-radius: 50%;
  object-fit: cover;
  opacity: 1;
  
}

img.portrait {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 25%;
  border-radius: 50%;
  border: 5px solid #FFF;
}

.page-header{
  $colorRB: #0300AB; // Does not work inside rgba()
  $colorLB: #4DC8FF; //  to use var()'s
  
  background-image: 
    linear-gradient(
      120deg, 
      rgba($colorRB,0.5), 
      rgba($colorLB,0.5)
    ),
    url("../images/juliaFullCircle_1440_fps60.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;

}



