---
---
/* Default Variables*/
/*

// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #fff !default;           // White
$header-bg-color: #159957 !default;             // Green
$header-bg-color-secondary: #155799 !default;   // Blue

// Text
$section-headings-color: #159957 !default;      // Green
$body-text-color: #606c71 !default;
$body-link-color: #1e6bb8 !default;
$blockquote-text-color: #819198 !default;

// Code
$code-bg-color: #f3f6fa !default;
$code-text-color: #567482 !default;

// Borders
$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;

*/


/* Custom Variables */

$header-bg-color: #4DC8FF;
$header-bg-color-secondary: #0300AB;
$section-headings-color: #0300AB;

// Remark: must change before the import

@import "{{ site.theme }}";

// Custom CSS for formatting the Nav Bar navigation.html
nav ul, footer ul {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0px;
    list-style: none;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 10px;
    margin-left: 10px;
}
.topnav-right{
    float: right;
    margin-right: 10px;
}

body{
    background-color: #FFFFFF;
    
}

/* 
// This is where one might change the header with the fractal gif (?)

.page-header {
  color: $header-heading-color;
  text-align: center;
  background-color: $header-bg-color;
  background-image: linear-gradient(120deg, $header-bg-color-secondary, $header-bg-color);

  @include large {
    padding: 5rem 6rem;
  }

  @include medium {
    padding: 3rem 4rem;
  }

  @include small {
    padding: 2rem 1rem;
  }
}

*/